.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button-container {
        width: 300px;
        color: black;
        margin-top: 10px;
    }
}
