.custom-button-container {
    padding: 8px;
    border-radius: 20px;
    background: #653fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.custom-button-container:hover {
    cursor: pointer;
}
